.cuerpo{
  background-color: #0069BC;
}

.titulo{
  margin: auto;
  width: 50%;
  /*
  border: 3px solid green;
  Le da un borde al texto */
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;/*Altura de la letra */
  height: 200px;
  font-size: 62px;
  font-family: 'Amita';
  color: #27BF3F;
}

.texto{
  font-family: 'Baloo';
  font-size: 24px;
}

.botones{
  background-color: #3F7DBC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.login{
  text-align: center;

}

.forms {

    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 20%;
}
#grad{
  height: 220px;
  background-color: #0069BC;
  background: linear-gradient(#00BFA6, #00677F, #0069BC)
}

/*        Login FORM      */
input[type=text], input[type=password] {
    width: 80%;
    padding: 30px;
    margin: 7px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
